/*Global*/
*{
	margin:0px;
	padding:0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html{
	font-family: 'Arial';
}
h1{
	font-size: 32px;
	letter-spacing: -1px;
	padding: 20px;
}
h2{
	margin-bottom: 10px;
}
ul,ol{
	padding-left: 30px;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
}
.width-1{
	width: 100%;
}
/*Product List*/
#product-list{
	padding: 20px;
	width: 1000px;
}
#product-list .product{
	margin: 20px 0px;
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
}
#product-list img{
	max-width: 150px;
	width: 150px;
	height: 150px;
	margin-right: 50px;
}
#product-list .content{
	width: 75%;
	margin-right: 50px;
}
#product-list .price{
	width: 25%;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
}
#product-list .price p{
	font-size: 32px;
	font-weight: bold;
}
#product-list .price button{
	padding: 10px;
	width: 200px;
	background:#0276FD;
	color: #ffffff;
	text-transform: uppercase;
	border:none;
	cursor: pointer;
}
#product-list .price button:hover{
	background: #3190ff;
}

.cart{
	width:1000px;
	-webkit-align-items: flex-end;
    -moz-align-items: flex-end;
		align-items: flex-end;
		-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	justify-content: flex-end;
}